@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#f87335,#f87335);
}
nav
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20000;
}
nav .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li
{
    list-style-type: none;
    margin-left: 20px;
}
nav ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
nav ul li a:hover
{
    background: #fff;
    color: #f87335;
}
section 
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #f87335,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#sun
{
    mix-blend-mode: screen;
}
section img#mountain_fornt
{
    max-width: 100%;
    z-index: 10;
}
#text
{
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 5rem;
    z-index: 9;
}
#btn
{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #f87335;
    font-size: 1.5em;
    z-index: 10;
    transform: translate(100px);
    transform: translateY(100px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #f87335;
    text-align: center;
}
.sec h2
{
    font-size: 4em;
    margin-bottom: 10px;
    color: #000;
}
.sec p
{
    font-size: 10rem;
    color: #000;
}
.footer {
    text-align: center;
    padding: 20px 0;
    color: #fff;
    background: #f87335;
}
h2
{
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #fff;
}
hr 
{
    width: auto;
    background-color: #fff;
    margin-bottom: 50px;
    margin-top: 10px;
}
h5
{
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 0px;
    text-transform: uppercase;
    background-color: #f87335;
}
.row
{
    text-align: center;
    font-size: 20px;
    background: #f87335;
    color: #fff;
}

/* Mobile Menu */

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
}

.item.button{
    order: 2;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active{
    display: block;
}

/* Tablet Menu */
@media all and (min-width: 600px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .toggle{
        flex: 1;
        text-align: right;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }
    .button.secondary{
        border: 0;
    }
    .button a {
        padding: 7px 15px;
        background: #f87335;
        border: 1px solid #ccc;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover{
        background: #f87335;
        border-color: #fff;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
}

/* Desktop menu */

@media all and (min-width: 900px){
   .item {
       display: block;
       width: auto;
   }
   .toggle{
       display: none;
   }
   .menu{
       order: 0;
   }
   .button{
       order: 2;
   }
   .item.button {
       order: 2;
   }
   .menu li {
       padding: 15px 10px;
   }
   .menu li.button {
       padding-right: 0;
   }
}
