@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
*
a{
    text-decoration: none;
}
*
li{
    list-style: none;
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(130deg,#f39c12,#e67e22);
    display: flex;
    justify-content: center;
    align-items: center;
}
form.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    margin: 20px;
    color: #fff;
    font-size: 80px;
}
input{
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}
.textbox{
    color: #fff;
    background: rgba(225,225,225,0.2);
    border: 1px solid rgba(225,225,225,0.4);
}
.textbox::placeholder{
    color: #fff;
}
.textbox:hover,
.textbox:focus{
    background: #fff;
    width: 280px;
    color: #f39c12;
}
.container ul li{
    font-size: 25px;
    text-align: center;
    width: 200px;
    height: 100%;
    background: #fff;
    color: #f39c12;
    border-radius: 100px 100px;
}
.container ul li:hover{
    color: #fff;
    background: #7f8c8d;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 100px 100px;
}
/* Mobile Menu */

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    order: 1;
}

.item.button {
    order: 2;
}

.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active{
    display: block;
}

/* Tablet Menu */
@media all and (min-width: 600px){
    .container{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .toggle{
        flex: 1;
        text-align: right;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }
    .button.secondary{
        border: 0;
    }
    .button a {
        padding: 7px 15px;
        background: teal;
        border: 1px solid #006d6d;
    }
    .button.secondary a {
        background: transparent;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover{
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    }
}

/* Desktop menu */

@media all and (min-width: 900px){
   .container {
       display: block;
       width: auto;
   }
   .toggle{
       display: none;
   }
   .logo{
       order: 1;
   }
   .button {
       order: 2;
   }
   .container ul li {
       padding: 15px 10px;
   }
   .container ul li.button {
       padding-right: 0;
   }
}